.bg {
  transition: .2s all;
  bottom: 0;
  background: rgb(240,240,240);
}

main {
  top: 91px;
  overflow-y: scroll;
}

main, .bg {
  left: 0;
  height: calc(100% - 91px);
  position: absolute;
  width: 100%;
}

.spacer {
  transition: .2s all;
  position: relative;
  height: 0px;
  width: 100%;
}
.space {height: calc(100% - 291px);}

.short {height: 260px; background: rgb(220,220,220);}
.hide {opacity: 0;}
.show {opacity: 1;}

section {
  transition: .2s opacity;
  opacity: 1;
  box-sizing: border-box;
  height: 235px;
  overflow: hidden;
  width: 220px;
  box-shadow: 0px 1px 2px 1px rgba(40,40,40,.2);
  padding: 10px;
  margin: 0 auto 10px auto;
  background: white;
}

main > section:nth-child(2) {
  margin: 10px auto;
}

.expand {
  height: auto;
}

.group {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  font: 15px "Roboto Bold";
  height: 30px;
}

.video {
  transition: .2s all;
  vertical-align: top;
  display: inline-block;
  height: 170px;
  width: 196px;
  padding: 10px 5px 5px 5px;
}
.video.active {
  background: rgb(240,240,240);
  box-shadow: 0px 0px 1px 1px rgb(220,220,220);
}

.video-img, .video-title, .video-links {
  cursor: pointer;
  display: inline-block;
}

.video-img {
  box-shadow: 0px 0px 1px 1px rgb(230,230,230);
  height: 110px;
  width: 100%;
}

.video-title {
  padding: 4px 0px 0px 0px;
  font: 13px "Roboto Bold";
  color: #167ac6;
  width: 100%;
  max-height: 30px;
  overflow: hidden;
}

.video-links {
  margin: 3px 0 0 0;
  color: rgb(80,80,80);
  font: 11px "Roboto";
  height: 20px;
}

.top {
  position: absolute;
  bottom: 20px;
  right: 40px;
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: rgb(80,80,80);
  cursor: pointer;
}

/* 1260, 1050, 850, 650, 430 */
@media(min-width: 500px){
  section {
    width: 440px;
  }
}
@media(min-width: 700px){
  section {
    width: 650px;
  }
}
@media(min-width: 900px){
  section {
    width: 850px;
  }
}
@media(min-width: 1100px){
  section {
    width: 1050px;
  }
}
@media(min-width: 1300px){
  section {
    width: 1260px;
  }
}
