html, body {border: 0; height: 100%; margin: 0; padding: 0; width: 100%; font-size: 0;}
a {text-decoration: none;}

.content, aside {display: inline-block; transition: all .2s;}
aside {
  box-shadow: inset 0px 0px .3px .3px rgba(80,80,80,.4);
  position: relative;
  top: 40px; width: 0%;
  height: calc(100% - 40px);
  background: white;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}
aside.big {width: 20%;}
.side-footer {position: absolute; bottom: 0; left: 0; width: 100%;}
.side-footer label, .side-footer input {display: inline-block; font: 14px "Roboto"; width: 50%;}

.x_spin {transform: rotate(1turn);}
.x_hide {opacity: 0;}

.group-side, .channel-side {box-sizing: border-box;}
.group-side {width: 20vw; padding: 10px 15px; position: relative; transition: .2s all;}
.gs-open {background: rgb(230,230,230); padding: 15px;}
.channel-side {width: 100%;}
.gs-settings {font-size: 16px; position: absolute; padding: 5px; top: 15px; right: 10px; cursor: pointer;}
.gs-title {font: 16px "Roboto"; padding: 5px; color: #cc181e; cursor: pointer; display: inline-block;}
.cs-title, .cs-new {display: inline-block; font: 12px "Roboto"; box-sizing: border-box; padding: 5px;}
.cs-title {width: 80%;}
.cs-new {width: 20%; text-align: right;}

.content {
  display: inline-block;
  top: 40px;
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.content.small {width: 80%;}
::-webkit-scrollbar {display: none;}

.drawer.small {width: 80%; left: 20%;}
.drawer {
  transition: .2s all;
  position: fixed;
  pointer-events: none;
  top: 40px; left: 0;
  height: 0px; width: 100%;
  overflow: hidden;
  text-align: center;
  box-shadow: inset 0px 0px 1px 1px rgba(80,80,80,.5);
  background: black;
}
.drawer.open {height: calc(100% - 300px);}
.prev, .next, #player {pointer-events: auto; cursor: pointer;}
.prev, .next {
  position: absolute;
  top: calc(50% - 30px);
  font-size: 60px !important;
  height: 60px; width: 60px;
  color: rgba(200,200,200,.5);
}
.prev:hover, .next:hover {
  color: rgba(240,240,240,.7);
}
.prev {left: 20px;}
.next {right: 20px;}

#player {width: 100%; height: 100%;}

main, .bg {transition: .2s all; position: absolute; left: 0; width: 100%;}
main {top: 0px; visibility: hidden; box-sizing: border-box; margin-bottom: 50px;}
main.space {padding-top: calc(100vh - 300px);}

.bg {bottom: 0px; background: rgb(240,240,240); height: calc(100% - 40px);}
.bg.short {height: 260px; background: rgb(220,220,220);}

.top {
  position: absolute;
  bottom: 20px; right: 40px;
  height: 40px; width: 40px;
  font-size: 40px;
  color: rgb(80,80,80);
  cursor: pointer;
}

.otherside {
  position: fixed;
  top: 40px;
  height: calc(100% - 40px);
  width: 20%;
}

@media(min-width: 300px){
  section {width: 220px;}
  .small section, .xsmall section {width: 0px;}
}
@media(min-width: 500px){
  section {width: 440px;}
  .small section {width: 220px;}
  .xsmall section {width: 0px;}
}
@media(min-width: 700px){
  section {width: 650px;}
  .small section {width: 440px;}
  .xsmall section {width: 220px;}
}
@media(min-width: 900px){
  section {width: 850px;}
  .small section {width: 650px;}
  .xsmall section {width: 440px;}
}
@media(min-width: 1100px){
  section {width: 1050px;}
  .small section {width: 850px;}
  .xsmall section {width: 650px;}
}
@media(min-width: 1300px){
  section {width: 1260px;}
  .small section {width: 1050px;}
  .xsmall section {width: 850px;}
}
